body{
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	margin: 0;
	padding: 1em;
}

p {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	padding: 1em 1em;
	text-align: center;
}

a {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: #3561cc;
}

a :hover {
	color: #517d9e;
	transition-timing-function: ease-in;
}

header {
    background-color: #efefef;
}

header h1 {
	text-align: center;
}

header a {
	color: #000;
}

.formwrap {
    margin: 2em 0em;
}

#storyform {
	font-size: 1.2em;
	padding: 0 1em;
	font-family: 'Oswald', sans-serif;
	color: #3561cc;
}

#submitbtn {
	font-family: sans-serif;
    margin-top: 1em;
    font-size: 1em;
    color: #fff;
    background-color: #3561cc;
    border-radius: 5px;
    border: none;
    padding: 0.35em;
}

#showanotherbtn {
	font-size: 1.5em;
	padding: 1em 1em;
	text-align: center;
}

#createnewbtn {
	font-size: 1.5em;
	padding: 1em 1em;
	text-align: center;
}

.btnrow {
	text-align: center;
}

footer {
	margin-top: 2em;
}

footer p{
	font-size: 1em;
}
