body{
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	margin: 0;
	padding: 1em;
}

p {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	padding: 1em 1em;
	text-align: center;
}

a {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: #3561cc;
}

a :hover {
	color: #517d9e;
	transition-timing-function: ease-in;
}

header {
    background-color: #efefef;
}

header h1 {
	text-align: center;
}

header a {
	color: #000;
}

.formwrap {
    margin: 2em 0em;
}

#submitbtn {
	margin-top: 1em;
}

#showanotherbtn {
	font-size: 1.5em;
	padding: 1em 1em;
	text-align: center;
}

#createnewbtn {
	font-size: 1.5em;
	padding: 1em 1em;
	text-align: center;
}

.btnrow {
	text-align: center;
}

footer {
	margin-top: 2em;
}

footer p{
	font-size: 1em;
}
